<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <section id="classes">
            <h1>Add Classes</h1>
            <label for="classes">Insert classes to add, separated by a comma (,):</label>
            <input name="classes" type="text"/>
            <button type="button" id="add-class">Add Class(es)</button>

            <h3>Classes on Element</h3>
            <ul id="result" class="test something"><!--add list of classes here--></ul>

            <script>
                (function() {
                    var resultList = document.getElementById("result");

                    var getClasses = function() {
                        var existingClasses = resultList.className.split(' '); // get existing classes

                        resultList.innerHTML = ''; // reset list
                        // update <ul> with class list
                        for (var a = 0; a < existingClasses.length; a++) {
                            resultList.innerHTML += '<li>' + existingClasses[a] + '</li>';
                        }
                    }

                    getClasses(); //initialize

                    // button click handler
                    document.getElementById("add-class").onclick = function(){
                        var classes = document.getElementsByName("classes")[0].value; //gets first input that matches
                        classes = classes.split(',');

                        // add additional classes
                        for (var i = 0; i < classes.length; i++) {
                            if (resultList.className.split(' ').indexOf(classes[i]) > -1) {
                                // class already exists on this element, don't add
                            } else {
                                resultList.className += ' ' + classes[i]; // add to class list
                            }
                        }
                        getClasses(); // update existing class list in <ul>
                    }
                })();
            </script>
        </section>

        <section id="palindrome">
            <h1>Palindrome</h1>
            <input name="palindrome" type="text">
            <button type="button" id="test-palindrome">Test Palindrome</button>

            <p>Result: <span id="palindrome-result"><!--append result here--></span></p>

            <script>
                var isPalindrome = function(str) {
                    for (var i = 0, j = str.length-1; i <= j; i++, j--) {
//                        console.log(str[i], " " ,str[j]);
                        if (str[i] != str[j]) {
                            return false;
                        }
                    }
                    return true;
                }

                var palindromeBtn = document.getElementById("test-palindrome");
                var resultP = document.getElementById("palindrome-result");

                // button click handler
                palindromeBtn.onclick = function() {
                    var testStr = document.getElementsByName("palindrome")[0].value;
//                    console.log(testStr);

                    var result = isPalindrome(testStr);
                    resultP.innerHTML = result;
                }
            </script>
        </section>

        <section id="reverse-string">
            <h1>Reverse Strings</h1>
            <input id="reverse-string-input" name="reverse" type="text">
            <button type="button" id="test-reverse-string">Reverse String</button>

            <p>Result: <span id="reverse-string-result"><!--append result here--></span></p>

            <script>
                var reverseBtn = document.getElementById("test-reverse-string");
                var strResult = document.getElementById("reverse-string-result");

                reverseBtn.onclick = function() {
                    var inputStr = document.getElementById("reverse-string-input").value;
//                    console.log(inputStr);

                    var newStr = '';
                    for (var j = inputStr.length-1; j >= 0; j--) {
                        newStr += inputStr[j];
                    }

//                    console.log(newStr);

                    strResult.innerHTML = newStr;
                }

            </script>
        </section>

    </body>
</html>
