<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>This is a test page</p>

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    </body>
</html>
