<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <section id="classes">
            <h1>Add Classes</h1>
            <label for="classes">Insert classes to add, separated by a comma (,):</label>
            <input name="classes" type="text"/>
            <button type="button" id="add-class">Add Class(es)</button>

            <h3>Classes on Element</h3>
            <ul id="result" class="test something"><!--add list of classes here--></ul>

            <script>
                (function() {
                    var resultList = document.getElementById("result");

                    var getClasses = function() {
                        var existingClasses = resultList.className.split(' '); // get existing classes

                        resultList.innerHTML = ''; // reset list
                        // update <ul> with class list
                        for (var a = 0; a < existingClasses.length; a++) {
                            resultList.innerHTML += '<li>' + existingClasses[a] + '</li>';
                        }
                    }

                    getClasses(); //initialize

                    // button click handler
                    document.getElementById("add-class").onclick = function(){
                        var classes = document.getElementsByName("classes")[0].value; //gets first input that matches
                        classes = classes.split(',');

                        // add additional classes
                        for (var i = 0; i < classes.length; i++) {
                            if (resultList.className.split(' ').indexOf(classes[i]) > -1) {
                                // class already exists on this element, don't add
                            } else {
                                resultList.className += ' ' + classes[i]; // add to class list
                            }
                        }
                        getClasses(); // update existing class list in <ul>
                    }
                })();
            </script>
        </section>

        <section id="palindrome">
            <h1>Palindrome</h1>
            <input name="palindrome" type="text">
            <button type="button" id="test-palindrome">Test Palindrome</button>

            <p>Result: <span id="palindrome-result"><!--append result here--></span></p>

            <script>
                var isPalindrome = function(str) {
                    for (var i = 0, j = str.length-1; i <= j; i++, j--) {
//                        console.log(str[i], " " ,str[j]);
                        if (str[i] != str[j]) {
                            return false;
                        }
                    }
                    return true;
                }

                var palindromeBtn = document.getElementById("test-palindrome");
                var resultP = document.getElementById("palindrome-result");

                // button click handler
                palindromeBtn.onclick = function() {
                    var testStr = document.getElementsByName("palindrome")[0].value;
                    var testStrAsArr = testStr.split(""); // since string as array is unsafe
//                    console.log(testStr);

                    var result = isPalindrome(testStrAsArr);
                    resultP.innerHTML = result;
                }
            </script>
        </section>

        <section id="reverse-string">
            <h1>Reverse Strings</h1>
            <input id="reverse-string-input" name="reverse" type="text">
            <button type="button" id="test-reverse-string">Reverse String</button>

            <p>Result: <span id="reverse-string-result"><!--append result here--></span></p>

            <script>
                var reverseBtn = document.getElementById("test-reverse-string");
                var strResult = document.getElementById("reverse-string-result");

                reverseBtn.onclick = function() {
                    // accessing string as array is unsafe
                    var inputStr = document.getElementById("reverse-string-input").value;
                    var inputStrAsArr = inputStr.split("");
//                    console.log(inputStr);

                    var newStr = '';
                    for (var j = inputStrAsArr.length-1; j >= 0; j--) {
                        newStr += inputStrAsArr[j];
                    }

//                    console.log(newStr);

                    strResult.innerHTML = newStr;
                }

            </script>
        </section>

        <section id="pair-numbers">
            <h1>Pairing Numbers to Sum</h1>
            <label for="pair-numbers-input">List whole numbers separated by a comma</label>
            <input id="pair-numbers-input" name="pair-numbers-input" type="text">

            <br>

            <label for="pair-numbers-sum">Sum to Search for</label>
            <input id="pair-numbers-sum" name="pair=numbers-sum" type="number">

            <br>
            <button type="button" id="pair-numbers" onclick="findSum()">Check for Pairs</button>

            <p>Result:
                <ul id="sum-result"><!--append result list here--></ul>
            </p>

            <script>
                function findSum() {
                    var numberList = document.getElementById("pair-numbers-input").value.split(",");
                    var sum = parseInt(document.getElementById("pair-numbers-sum").value, 10);

                    // apply parseInt
                    numberList = numberList.map(function(item){
                        return parseInt(item, 10); //base 10
                    });

                    // sort based on integer value, ascending
                    numberList.sort(function(a,b){
                        return a > b;
                    });

//                    console.log(numberList);

                    var resultList = [];
                    var frontIdx = 0;
                    var secondIdx = frontIdx + 1;

                    while (frontIdx < numberList.length && secondIdx < numberList.length) {
                        var tempSum = numberList[frontIdx] + numberList[secondIdx];
//                        console.log(numberList[frontIdx], "+", numberList[secondIdx], "=", tempSum);

                        if (tempSum === sum) {
                            var pair = numberList[frontIdx] + ', ' + numberList[secondIdx];
                            if (resultList.indexOf(pair) < 0) {
                                resultList.push(pair);
                            } // otherwise, don't push repeat pair
                            frontIdx++;
                            secondIdx = frontIdx + 1;
                        } else if (tempSum < sum) {
                            secondIdx++;
                        } else { // tempSum > sum
                            frontIdx++;
                            secondIdx = frontIdx + 1;
                        }
                    }

//                    console.log(resultList);

                    var result = document.getElementById("sum-result");
                    result.innerHTML = ''; //reset result list
                    if (resultList.length > 0) { // there are pairs that sum to the value
                        for (var i = 0; i < resultList.length; i++) {
                            result.innerHTML += '<li>' + resultList[i] + '</li>';
                        }
                    } else {
                        result.innerHTML += 'No pairs sum to ' + sum;
                    }
                }
            </script>
        </section>

        <section id="fizzbuzz">
            <h1>Fizzbuzz</h1>
            <button type="button" onclick="runCode()">Run Me</button>

            <script>
                function runCode() {
                    var final = 100;
                    for (var i = 1; i <= final; i++){
                        var toOutput = "";

                        if (i % 3 === 0) {
                            toOutput += "fizz";
                        }

                        if (i % 5 === 0) {
                            toOutput += "buzz";
                        }


                        if (toOutput.length){
                            console.log(i);
                            console.log(toOutput);
                        }
                    }
                }
            </script>
        </section>
    </body>
</html>
